@import url(http://fonts.googleapis.com/css?family=Lato:100, 200);
@import url(http://fonts.googleapis.com/css?family=League+Script);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300);
#left-nav {
  border: 1px solid grey;
  float: left;
  height: 300px;
  width: 200px;
  border-radius: 4px;
}
#right-nav {
  float: right;
  height: 300px;
  width: 200px;
  border: 1px solid grey;
  border-radius: 4px;
}
img.inverted {
  -webkit-filter: invert(100%);
}
img.sepia {
  -webkit-filter: sepia(100%);
}
img.grayscale {
  -webkit-filter: grayscale(100%);
}
.reveal-modal-bg {
  background: white;
  opacity: 0.9;
}
.orbit-container {
  height: 307px;
  width: 307px;
  position: relative;
  left: 325px;
  bottom: 300px;
}
a.orbit-prev,
a.orbit-next {
  color: transparent !important;
  background: transparent !important;
}
h1 {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: grey;
  font-size: 100px;
  font-family: 'Lato', sans-serif !important;
}
h3 {
  text-align: center;
}
p {
  color: grey !important;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
#start {
  font-family: 'Lato', sans-serif !important;
  position: relative;
}
a {
  color: grey !important;
  background: white !important;
  font-family: 'Lato', sans-serif !important;
}
a:hover {
  color: lightblue !important;
}
a:active {
  color: lightpink !important;
}
.left,
.right,
.text-area {
  position: relative;
  bottom: 20px;
  background: white;
}
.links:active {
  color: lightpink !important;
}
.top-bar {
  padding: 50px;
  border: transparent;
  font-family: 'Lato', sans-serif;
  background: white !important;
  border-bottom: 1px solid grey;
}
#search-icon {
  color: grey !important;
  position: relative;
  float: right;
  bottom: 55px;
  right: 245px;
}
#search-box {
  width: 400px;
  height: 40px;
  background: transparent;
  border: 1px solid grey;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
}
#container2 {
  display: none;
}
#search-icon:hover {
  color: lightblue !important;
}
#search-icon:active {
  color: lightpink !important;
}
#pic-box {
  width: 960px;
  height: 200px;
  margin-bottom: 20px;
}
#target {
  width: 955px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}
#down-arrow {
  color: grey !important;
  bottom: 35px;
  text-align: center;
  position: relative;
  left: 460px;
  margin-right: auto;
  margin-left: auto;
}
img {
  border-radius: 4px;
  margin: 2px;
  box-shadow: 0px 0px 5px grey;
}
img:hover {
  transform: scale(1.5);
}
#bFB {
  border-radius: 4px;
  position: relative;
  top: 20px;
  left: 375px;
  margin-left: auto;
  margin-right: auto;
}
#container3 {
  display: none;
}
#Q-box {
  width: 464px;
  height: 310px;
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 10px;
}
h4 {
  color: white !important;
}
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: '';
  background: linear-gradient(to bottom, #ffffff, transparent);
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h4 {
  font-family: 'Lato', sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}
li {
  list-style: none;
}
.cb-slideshow li:nth-child(1) span {
  background: linear-gradient(#ffffff, #62d5fe);
}
.cb-slideshow li:nth-child(2) span {
  background: linear-gradient(#0cfe94, #ffffff);
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background: linear-gradient(#ffffff, #ff69b4);
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background: linear-gradient(#800080, #ffffff);
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background: linear-gradient(#ffffff, #ffa500);
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background: linear-gradient(#ffff00, #ffffff);
  animation-delay: 30s;
}
.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
