doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Tagstapic
    link(rel='stylesheet', href='/css/normalize.css')
    //-----Font Awesome Icon href------------------v
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    //-----Background Slideshow Style--------------v
    link(rel='stylesheet', href='/css/style2.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
body
  //-----Background Slideshow-------
  #background-slideshow
    ul.cb-slideshow
      li
        span Image 1
        div
      li
        span Image 2
        div
      li
        span Image 3
        div
      li
        span Image 4
        div
      li
        span Image 5
        div
      li
        span Image 6
        div

  //-----Background Slideshow--------

  //-----Top Nav Bar-----------------
  .nav.top-bar(data-magellan-expedition='fixed')
    section.top-bar-section
      ul.text-area
        li.name
          a.start#start Start
      ul.right
        li(data-magellan-arrival)
          a.links(href='https://github.com/MitchellSH')
            i.accounts(class='fa fa-github fa-2x')
        li(data-magellan-arrival)
          a.links(href='https://twitter.com/Mitch_Hollander')
            i.accounts(class='fa fa-twitter fa-2x')
        li(data-magellan-arrival)
          a.links(href='http://instagram.com/mitchell_hollander')
            i.accounts(class='fa fa-instagram fa-2x')
        li(data-magellan-arrival)
          a.links(href='https://plus.google.com/u/0/111891834390020142373/posts')
            i.accounts(class='fa fa-google-plus fa-2x')
      ul.left
        li(data-magellan-arrival)
          a.tagstapic Reset

  //-----Top Nav Bar----------------
              
              
  //-----Title, slideshow, and Search Bar-------
  .row
    .small-12.columns
      #container
        h1#title #Tagstapic
        p#title-p
  .row
    .small-12.columns
      #container2
        input#search-box(type='text', placeholder='Search #Tag' autofocus='true')
        a#bam(href='#')
          i#search-icon(class='fa fa-search fa-2x')
        #pic-box 
          #target
        i#down-arrow(href='#', class='fa fa-angle-down fa-4x')
  .row
    .small-12.columns
      #container3
        p Your Selected Pics:
        #Q-box
        a.button#bFB(data-reveal-id='myModal' data-reveal) Big Friendly Button
        #myModal.reveal-modal(data-reveal)
          h3 Tagstapic Slideshow
          audio#black(src='/media/BackInBlack.mp3' type='audio/mp3')
          audio#gang(src='/media/GangnamStyle.mp3' type='audio/mp3')
          .row
            .small-6.columns
              #left-nav
                p Select Filter:
                a.button#invert Invert
                a.button#gray Grayscale
                a.button#sepia Sepia
            .small-6.columns
              #right-nav
                p Select Music Type:
                a.button#rock Rock
                a.button#crazy Go Crazy
      
          


          #orbit-container
            ul.example-orbit.orbitSlider(data-orbit data-options='animation: fade; pause_on_hover: false; animation_speed: 500;')
            .orbit-timer
              span
            .orbit-progress

          a.button.close-reveal-modal.tagstapic Reset
              

      

  //-----Title, Slideshow, and Search Bar--------

 



script(src='/js/vendor/jquery.js')
script(src='/js/vendor/foundation.js')
script(src='/js/vendor/foundation.min.js')
script(src='/js/vendor/lodash.js')
script(src='/js/source/main.js')

