doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Tagstapic
    link(rel='stylesheet', href='/css/normalize.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/style2.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
body
  //-----Background Slideshow-------
  #background-slideshow
    ul.cb-slideshow
      li
        span Image 1
        div
      li
        span Image 2
        div
      li
        span Image 3
        div
      li
        span Image 4
        div
      li
        span Image 5
        div
      li
        span Image 6
        div

  //-----Background Slideshow--------

  //-----Top Nav Bar-----------------
  .nav.top-bar(data-topbar)
    section.top-bar-section
      ul.text-area
        li.name
          a#tagstapic TAGSTAPIC
      ul.right
        li.active
          a.links(href='https://github.com/MitchellSH')
            i.accounts(class='fa fa-github fa-2x')
        li.active
          a.links(href='https://twitter.com/Mitch_Hollander')
            i.accounts(class='fa fa-twitter fa-2x')
        li.active
          a.links(href='http://instagram.com/mitchell_hollander')
            i.accounts(class='fa fa-instagram fa-2x')
        li.active
          a.links(href='https://plus.google.com/u/0/111891834390020142373/posts')
            i.accounts(class='fa fa-google-plus fa-2x')
      ul.left
             li.has-dropdown.full-width
                a(href='#')#menu MENU
                  i(class='fa fa-bars fa-1x')
                ul.dropdown
                  li.list
                    a.search#search Search Tag
                    a.create Create A Slideshow

  //-----Top Nav Bar----------------
              
              
  //-----Title, slideshow, and Search Bar-------
  .row
    .small-12.columns
      #container
        h1#title #Tagstapic
  .row
    .small-12.columns
      #container2
        #pic-box 
          #target
        input#search-box(type='text', placeholder='Search Tag' autofocus='true')
        a#bam(href='#')
          i#search-icon(class='fa fa-search fa-2x')
  .row
    .small-12.columns
      #container3
        #APIslideshow

  //-----Title, Slideshow, and Search Bar--------

  //-----Test Slideshow--------------------------

  .row
    .small-12.columns


  //-----Test Slideshow--------------------------



  script(src='/js/vendor/jqueryUI.js')
  script(src='/js/vendor/jquery.js')
  script(src='/js/vendor/jquery.flip.min.js')
  script(src='/js/vendor/foundation.min.js')
  script(src='/js/vendor/lodash.js')
  script(src='/js/source/main.js')

